---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "About Me";
const name = "Chris Smith";
const school = "Fort Lewis College";
const major = "Computer Information Systems";
const interests = ["IT", "fitness", "business", "data analytics"];
const graduated = false;
---

<html>
  <head>
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />

    <h1>{pageTitle}</h1>

    <p>My name is {name}.</p>
    <p>I go to {school} and study {major}.</p>

    <h2>My Interests</h2>
    <ul>
      {interests.map((i) => <li>{i}</li>)}
    </ul>

    {graduated 
      ? <p>I have graduated.</p> 
      : <p>I am still in school.</p>}

    <Footer />
  </body>
</html>

<style>
  h1 {
    color: darkblue;
  }

  ul {
    background: #eee;
    padding: 10px;
    border-radius: 8px;
  }
</style>